@import "tailwindcss";

@theme inline {
  --color-bgRoyel: #1a1a1a;
  --color-white: #fff;
}

@layer utilities {
  .hideScrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@utility container {
  margin-inline: auto;
}
